
<div class="NotesApp">
    <h3 class="LandingPageHeader">Make a Notes....</h3>
<div class="LandingPage">
   
    <div class="LandingPageDivSection">

        <div class="LandingPageDivSectionButton" (click)="newNotesButton()" >New Note</div>
        <div class="LandingPageDivSectionButton ListButton"  (click)="listButton()" >List</div>

    </div>
    <div class="LandingPageImageSection">
         <img  class="LandingPageSectionImage" src="../assets/images/TejuDashboard.jpeg"> 

    </div>

</div>
</div>

